.container
	.outlet
		.row
			.col-sm-6.col-md-5.col-md-offset-4.col-sm-offset-2
				.add-new-case
					.panel.panel-default
						.panel-heading
							%h3.text-center Case
						.panel-body
							= form_for @case, html: { multipart: true, class: 'form-horizontal group-border hover-stripped' } do |f|
								.form-group
									.col-lg-12
										= f.text_field :title, class: 'form-control', required: true, placeholder: "Title"
								.form-group
									.col-lg-12
										= f.text_area :description, class: 'form-control', :rows => 5, required: true, placeholder: "Description"
								.form-group
									.col-lg-12
										= f.number_field :amount_required, min: '0', step: 'any', class: 'form-control', required: true, placeholder: "Required Amount"
								.form-group
									= f.label 'Hospital', class: 'col-sm-12'
									.col-lg-12
										= f.select(:hospital_id, @hospitals.map {|type| [type.name, type.id]}, {}, { :class => 'form-control' })
								= f.fields_for :attachments do |att|
									= render 'attachment_fields', f: att
								.links.col-md-12.btn-block
									= link_to_add_association 'Add Attachment', f, :attachments, class: 'btn btn-primary hvr-sweep-to-top'
									= f.submit "#{donation_button_text(@case)}", class: 'btn btn-primary hvr-sweep-to-top'
