.container
  .row
    .col-md-12.text-center
      = link_to 'I want to donation', new_donation_path, class: 'btn btn-primary'
  .col-md-12.list-cases-holder
    - unless donations.blank?
      %h3 Donations
      - donations.each do |donation_obj|
        .panel.panel-default
          .panel-body
            .row
              .col-sm-8.col-md-10.cases-details
                %h4
                  = "Name: #{donation_obj.user.name}"
                %p
                  = "Amount: #{donation_obj.amount}"
                %p
                  = "Status: #{donation_obj.status.titleize}"
              .col-sm-4.col-md-2.btn-area
                = link_to 'Delete', donation_path(donation_obj), method: :delete, data: { confirm: "You sure?" } ,class: 'btn btn-danger'
                = link_to 'View', donation_path(donation_obj) ,class: 'btn btn-info'
    - else
      .text-center
        %h3= "No #{type||=''} donation found"
