.container
  .row
    .text-center.create-case-btn-holder
      = link_to 'Donate Funds', new_donation_path, class: 'btn btn-primary'
  .list-cases-holder
    - unless donations.blank?
      %h3 Donations
      - donations.each do |donation_obj|
        .panel.panel-default
          .header-holder
            .btn-area.pull-right
              = link_to 'View', donation_path(donation_obj) ,class: 'btn btn-info'

              = link_to 'Delete', donation_path(donation_obj), method: :delete, data: { confirm: "You sure?" } ,class: 'btn btn-danger'
          .panel-body
            .row
              .col-sm-12.donations.cases-details
                %ul
                  %li
                    %p
                      %span
                        Name:
                      = " #{donation_obj.user.name}"
                  %li
                    %p
                      %span
                        Amount: 
                      = "#{donation_obj.amount}"

                  %li
                    %p
                      %span
                        Status: 
                      = "#{donation_obj.status.titleize}"
    - else
      .text-center.no-data-box
        %h3= "No #{type||=''} donation found"
