.container
	.row
		%h1 All Cases
		.col-md-12
			= link_to 'Create a new case', new_case_path, class: 'btn btn-primary'
			= link_to 'Donations', get_donations_path,class: 'btn btn-primary'
	.col-md-8.col-md-offset-2
		- @cases.each do |case_obj|
			.col-md-12
				%h4
					Case: #{case_obj.title}
				%p
					Description: #{case_obj.description}
				%p
					Location: #{case_obj.hospital.name}
				- if policy(case_obj).edit?
					= link_to 'Edit this case', edit_case_path(case_obj),class: 'btn btn-primary'
				- if policy(case_obj).destroy?
					= link_to 'Delete this case', case_obj, method: :delete, data: { confirm: "You sure?" } ,class: 'btn btn-danger'
				= link_to 'View this case', case_path(case_obj) ,class: 'btn btn-info'

