.container
  .outlet
    .row
      .col-md-8.col-md-offset-2
        .panel.panel-default.panelMove.toggle.panelRefresh.panelClose
          .panel-heading.case_study_heading
            %h2.panel-title= @case.title
          .panel-body
            %h4 Description:
            %p= @case.description
            %h4 Requested Amount:
            %p= @case.amount_required
            - if @case.attachments.present?
              %h4 Attachment(s):
              %ul.attachment_list
                - @case.attachments.each do |f|
                  %li
                    = image_tag f.attachment.url(:medium)
        = link_to 'Back', cases_path, class: 'btn btn-primary'

