.container
  .outlet
    .row
      .col-md-12.case-veiw
        .panel.panel-default.panelMove.toggle.panelRefresh.panelClose.add-new-case
          .panel-heading.case_study_heading
            %h2.panel-title= @case.title
            .pull-right
              = link_to 'Back', redirect_user_path, class: 'btn btn-primary'
              - if policy(@case).allocate_funds?
                = link_to 'Allocate Funds', allocate_funds_case_path(@case), class: 'btn btn-primary'
          .panel-body
            .row
              .col-md-12
                %ul.details-box
                  %li
                    %h4 Description:
                    %p= @case.description
                  %li
                    %h4 Requested Amount:
                    %p= @case.amount_required
                  %li
                    - if @case.hospital.present?
                      %h4 Location:
                      %p= @case.hospital.name
              .col-md-12.attachment-block
                - if @case.attachments.present?
                  %h4 Attachment(s):
                  %ul.attachment_list
                    - @case.attachments.each do |f|
                      %li
                        = image_tag f.attachment.url(:medium)
  .row
    .col-md-8.col-md-offset-2
      = render partial: 'cases/partials/donations_log', locals: {activity: @activity}
