.container
  .outlet
    .row
      .col-sm-8.col-md-5.col-md-offset-4.col-sm-offset-2
        .panel.panel-default.contact-details-box
          .panel-heading
            %h3.text-center Contact Details
          .panel-body
            = form_for @user, url: update_contact_details_users_path, method: 'post', html: { multipart: true, class: 'form-horizontal group-border hover-stripped' } do |f|
              = f.hidden_field :id, value: @user.id
              = f.hidden_field :u_type, value: @user.u_type
              .form-group
                / = f.label 'Name', class: 'col-lg-2 col-md-2 col-sm-12 control-label'
                .col-lg-12
                  = f.text_field :name, class: 'form-control', required: true, placeholder: "Name"
              .form-group
                / = f.label 'Email', class: 'col-lg-2 col-md-2 col-sm-12 control-label'
                .col-lg-12
                  = f.email_field :email, class: 'form-control', required: true, placeholder: "Email"
              .form-group
                / = f.label 'Phone *', class: 'col-lg-2 col-md-2 col-sm-12 control-label'
                .col-lg-12
                  = f.text_field :mobile_number, class: 'form-control', required: true, placeholder: "Phone Number"
              - if !f.object.id.present?
                .form-group
                  / = f.label 'Password', class: 'col-lg-2 col-md-2 col-sm-12 control-label'
                  .col-lg-12
                    = f.password_field :password, class: 'form-control', required: true, placeholder: "Password"
              - if f.object.volunteer?
                .form-group
                  = f.label 'Availability', class: 'col-sm-12 '
                  .col-md-12
                    = select_tag "available_days[]", options_for_select(Date::DAYNAMES, ["Saturday" , "Sunday"]), class: 'init_select2', multiple: true, required: true, default: "select"
              .form-group.btn-submit
                = f.submit "submit", class: 'btn btn-primary'
