.container
  .outlet
    .row
      .col-sm-8.col-md-5.col-md-offset-4.col-sm-offset-2
        .panel.panel-default.contact-details-box
          .panel-heading
            %h3.text-center Contact Details
          .panel-body
            = form_for @user, url: update_contact_details_users_path, method: 'post', html: { multipart: true, class: 'form-horizontal group-border hover-stripped' } do |f|
              = f.hidden_field :id, value: @user.id
              = f.hidden_field :u_type, value: @user.u_type
              .form-group
                / = f.label 'Name', class: 'col-lg-2 col-md-2 col-sm-12 control-label'
                .col-lg-12
                  = f.text_field :name, class: 'form-control', required: true, placeholder: "Name"
              .form-group
                / = f.label 'Email', class: 'col-lg-2 col-md-2 col-sm-12 control-label'
                .col-lg-12
                  = f.email_field :email, class: 'form-control', required: true, placeholder: "Email"
              .form-group
                / = f.label 'Phone *', class: 'col-lg-2 col-md-2 col-sm-12 control-label'
                .col-lg-12
                  = f.text_field :mobile_number, class: 'form-control', pattern: '((\+92)|(0))-{0,1}(3)\d{2}-(?!1234567)(?!1111111)(?!7654321)[0-9]{7}', required: true, oninvalid: "setCustomValidity('Plz enter valid number with formate 0321-4455336 or +92321-9997999')", onchange: "try{setCustomValidity('')}catch(e){}", placeholder: "0321-44xxx46"
              - if !f.object.id.present?
                .form-group
                  / = f.label 'Password', class: 'col-lg-2 col-md-2 col-sm-12 control-label'
                  .col-lg-12
                    = f.password_field :password, class: 'form-control', required: true, placeholder: "Password"
              .form-group.btn-submit
                = f.submit "submit", class: 'btn btn-primary'
