.container
  .outlet
    .row
      .col-sm-8.col-md-6.col-md-offset-3
        .panel.panel-default.contact-details-box
          .panel-heading
            %h3.text-center Contact Details
          .panel-body
            = form_for @user, url: update_contact_details_users_path, method: 'post', html: { multipart: true, class: 'form-horizontal group-border hover-stripped' } do |f|
              = f.hidden_field :id, value: @user.id
              .form-group
                = f.label 'Title', class: 'col-lg-2 col-md-2 col-sm-12 control-label'
                .col-lg-10.col-md-10
                  = f.text_field :name, class: 'form-control', required: true
              .form-group
                = f.label 'Email', class: 'col-lg-2 col-md-2 col-sm-12 control-label'
                .col-lg-10.col-md-10
                  = f.text_field :email, class: 'form-control', :rows => 5, required: true
              .form-group
                = f.label 'Phone', class: 'col-lg-2 col-md-2 col-sm-12 control-label'
                .col-lg-10.col-md-10
                  = f.text_field :mobile_number, class: 'form-control', required: true
              - if f.object.volunteer?
                .form-group
                  = f.label 'Availability', class: 'col-lg-2 col-md-2 col-sm-12 control-label'
                  .col-md-10
                    = select_tag "available_days[]", options_for_select(Date::DAYNAMES, "Sunday"), class: 'init_select2', multiple: true, required: true, default: "select"
              .form-group.btn-submit
                = f.submit "submit", class: 'btn btn-primary'
