.container
  .outlet
    .row
      .col-md-8.col-md-offset-2
        .panel.panel-default
          .panel-heading
            %h3 Contact Details
          .panel-body
            = form_for @user, url: update_contact_details_users_path, method: 'post', html: { multipart: true, class: 'form-horizontal group-border hover-stripped' } do |f|
              = f.hidden_field :id, value: @user.id
              .form-group
                = f.label 'Title', class: 'col-lg-2 col-md-2 col-sm-12 control-label'
                .col-lg-10.col-md-10
                  = f.text_field :name, class: 'form-control', required: true
              .form-group
                = f.label 'Email', class: 'col-lg-2 col-md-2 col-sm-12 control-label'
                .col-lg-10.col-md-10
                  = f.text_field :email, class: 'form-control', :rows => 5, required: true
              .form-group
                = f.label 'Phone', class: 'col-lg-2 col-md-2 col-sm-12 control-label'
                .col-lg-6.col-md-6
                  = f.text_field :mobile_number, class: 'form-control', required: true
              .form-group.col-md-8.col-md-offset-2
                = f.submit "submit", class: 'btn btn-primary'
