.container
  .outlet
    .row
      .col-sm-8.col-md-5.col-md-offset-4.col-sm-offset-2.available-block
        .panel.panel-default.holder
          .panel-heading
            %h3.text-center Select Availability
          .panel-body
            = form_for @user, url: update_availability_details_users_path, method: 'post', html: { multipart: true, class: 'form-horizontal group-border hover-stripped' } do |f|
              = f.hidden_field :id, value: @user.id
              = f.hidden_field "available_days",  value: ""
              .form-group#availability_fields_div
                = render 'set_availability_field'
              .btn-block
                .form-group.btn-submit
                  = f.submit "submit", class: 'btn btn-primary', id: "select_days"



:javascript
  $(function() {
    $("#select_days").click(function(e) {
      e.preventDefault();
      var dates = $('#availability-div').datepicker('getDates');
      $('#user_available_days').val(dates);
      $(this).closest('form').submit();
    });
  });
