.container
  .outlet
    .row
      .col-md-8.col-md-offset-2.list-cases-holder
        .panel.panel-default.panelMove.toggle.panelRefresh.panelClose
          .panel-heading.case_study_heading
            %h2.panel-title= @user.name
          .panel-body
            .row
              .col-sm-8.col-md-10.cases-details
            .col-md-12
              .image-holder
                = avatar_url(@user, '50', 'user-avatar')
                -if current_user.present?
                  = link_to 'change', 'javascript:void(0)', class: 'change-image-url'
                #change-user-image-div.hidden
                  = form_for @user, url: change_image_user_path(@user), method: 'post', :authenticity_token => true, remote: true, :html => { :multipart => true } do |f|
                    .form-group
                      .col-lg-12
                        = f.file_field :avatar, class: 'user-image-url'

            .col-md-12.p0.user-details
              %ul
                %li
                  %h4 Donations
                  %p= @user.donations.size
                %li
                  %h4 Amount
                  %p= "#{@user.donations.pluck(:original_amount).sum}/-"
                %li
                  %h4 Used
                  %p= "#{@user.get_amount_of_donations_used}/-"
                %li
                  %h4 Cases
                  %p= @user.cases.size
                %li
                  %h4 Contact #
                  %p
                    = "#{current_user == @user ? @user.mobile_number : 'Not public'}"
:javascript
  $('.change-image-url').on('click', function(){
    $('#change-user-image-div').find('#user_avatar').click();
  })

  $('.user-image-url').on('change', function(){
    $(this).closest('form').submit();
  })
