.container
  .outlet
    .row
      .col-md-8.col-md-offset-2
        .panel.panel-default.panelMove.toggle.panelRefresh.panelClose
          .panel-heading.case_study_heading
            %h2.panel-title= @user.name
          .panel-body
            %h3.text-center
              Donation Record
            .col-md-12
              = image_tag @user.image_url
            .col-md-12
              .col-md-4
                %h4 Total
                %p= @user.donations.size
              .col-md-4
                %h4 Amount
                %p= "#{@user.donations.pluck(:amount).sum}/="
              .col-md-4
                %h4 Used
                %p= "#{@user.get_amount_of_donations_used}/="
            .col-md-12
              .col-md-4
                %h4 Cases
                %p= @user.cases.size
            .col-md-12
              .col-md-4
                %h4 Contact Number
                %p
                  = "#{current_user.present? ? @user.mobile_number : 'not allowed'}"
