#header
  %nav.navbar.navbar-default
    .container-fluid
      / Brand and toggle get grouped for better mobile display
      .navbar-header
        %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        = link_to root_path, class: 'navbar-brand' do
          %h4.color-white.ml15 Work4Humanity
        .amount-holder-mobile
          %h4
            = "Amount: #{total_remaining_ammount} PKR"
            %a{:href => logs_path}
              %i.im-plus.mr10.text-success>
              Logs
      #bs-example-navbar-collapse-1.collapse.navbar-collapse
        - if user_signed_in?
          %ul.nav.navbar-nav
            %li
              %a{:href => "#{cases_path}"}
                %i.im-plus.mr10.text-success>
                Cases
            %li
              - if policy(current_user).manage_users?
                = link_to 'Donations', donations_path
                %li
                  = link_to 'Manage Users', manage_users_users_path
              - else
                = link_to 'Donations', donations_user_path(current_user)
            %li
              = link_to 'Contact us', contact_us_path
        .amount-holder-desktop
          %h4
            = "Amount: #{total_remaining_ammount} PKR"
            %a{:href => logs_path}
              %i.im-plus.mr10.text-success>
              Logs
        %ul.nav.navbar-nav.navbar-right
          - if user_signed_in?
            %li.non_mobile_nav
              = link_to user_path(current_user) do
                = avatar_url(current_user, '100', 'user-avatar')
                = current_user.name
            %li.dropdown
              = link_to destroy_user_session_path, method: :delete do
                %i.fa.fa-sign-out
                Logout
      / /.navbar-collapse
    / /.container-fluid
