#header.new_user
  .container-fluid
    .navbar
      .navbar-header
        = link_to root_path, class: 'navbar-brand' do
          %h4.color-white.ml15 Work4Humanity

      %nav.top-nav{:role => "navigation"}
        %h4
          Amount: 25000 PKR
          %a{:href => "#{root_path}"}
            %i.im-plus.mr10.text-success>
            Logs
.row-fluid
  .span10.offset1
    .hero-unit.text-center
      .ul
        .li
          = link_to 'Help us w.r.t Time', "#my-modal", "data-toggle" => "modal", class:  'btn btn-primary'
        .li
          = link_to 'Help us w.r.t Fund', "#my-modal", "data-toggle" => "modal", class:  'btn btn-primary'

/ two click model for registration
#my-modal.modal.fade{:title => "My modal"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
        %h3#myModalLabel Register your self
      .modal-body
        .row-fluid
          .span10.offset1
            .hero-unit.text-center
              .ul
                .li
                  = link_to 'Sign Up with facebook', user_facebook_omniauth_authorize_path, "data-toggle" => "modal", class:  'btn btn-primary'
                .li
                  = link_to 'Sign Up without facebook', onboarding_users_path, class:  'btn btn-primary'
      .modal-footer
        %button.btn{"aria-hidden" => "true", "data-dismiss" => "modal"} Close


/ user registration model for contact detail
#user-modal.modal.fade{:title => "User model"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
        %h3#myModalLabel Register your self
      .modal-body
        fjhdfadfjadsl
      .modal-footer
        %button.btn{"aria-hidden" => "true", "data-dismiss" => "modal"} Close

